
/* --- HEADER ---------------------------------------------------- */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-inline: 2rem;
}

.headings {
  line-height: 2rem;
}

.headings h4 {
  font-size: 24px;
  color: var(--foreground);
}

.headings p {
  font-size: 16px;
  color: var(--sidebar-foreground);
}

/* --- RIGHT PANEL && BUTTONS ---------------------------------------------- */

.rightPanel,
.secondaryBtnsContainer {
  display: flex;
  align-items: center;

  gap: 0.7rem;
}

.secondaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.4rem;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0.7rem;
  border: 1.7px solid var(--color-grey-200);
  background-color: transparent;
  min-width: max-content;
  transition: 0.2s ease-in;
}

.secondaryBtn:hover {
  cursor: pointer;
  background-color: var(--sidebar-accent);
  color: var(--sidebar-accent-foreground);
}

.primary {
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--sidebar-background);
  background-image: var(--gradient-primary);
  border-radius: 0.7rem;
  justify-content: center;
  cursor: pointer;
}
.primary p {
  font-size: 16px;
  font-weight: 600;
}

/* --- VIEW ---------------------------------------------------- */

.viewChangerContainer {
  border-radius: 0.6rem;
  padding: 0.1rem;
  border: 1px solid var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 0.15rem;
}

.viewChangeBtn {
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.65rem;
  transition: 0.2s ease-in-out;
}

.viewChangeBtn:hover {
  cursor: pointer;
  color: var(--sidebar-foreground);
  background-color: #e9ebef;
}

.viewActive,
.viewActive:hover {
  background-color: var(--sidebar-accent);
  color: var(--sidebar-accent-foreground);
}

/* --- RESPONSIVE ------------------------------------------------- */

@media (max-width: 970px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .headings {
    line-height: unset;
  }

  .primary {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .rightPanel {
    flex-direction: column;
  }

  .secondaryBtnsContainer {
    justify-content: flex-start;
    width: 100%;
  }
  
  .secondaryBtn {
    max-width: unset;
    width: 100%;
  }
}