.listItem {
  width: 100%;
  padding: 0.45rem 0.5rem;
  color: var(--color-grey-900);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  gap: 0.4rem;
}
.listItem:hover {
  background-color: var(--color-grey-100);
}

.logoutBtn {
  color: var(--color-danger);
}