@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
button:disabled {
  cursor: not-allowed;
}
.popup_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 8;
  background-color: black;
  opacity: 0.6;
  backdrop-filter: blur(10px);
}
.popupCentered {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard version */
}
.input-text-style-1 {
  border: 1.5px solid var(--color-grey-200);
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.input-text-style-1:focus {
  outline: none;
  box-shadow: var(--shadow-card-hover);
}
