:root {
  --background: #f9fafb;
  --foreground: hsl(230 25% 10%);
  --secondary-bg: #fff;
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(230 25% 10%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(230 25% 10%);
  --light-violet: hsl(263, 92%, 90%);
  --primary: hsl(255 65% 54%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(225 20% 94%);
  --secondary-foreground: hsl(230 25% 10%);

  --muted: hsl(225 15% 94%);
  --muted-foreground: hsl(225 10% 46%);

  --accent: hsl(255 60% 96%);
  --accent-foreground: hsl(255 65% 40%);
  --color-danger: #e74c3c;
  --danger-bg: #ebcecb81;
  --destructive: hsl(0 72% 51%);
  --destructive-foreground: hsl(0 0% 100%);

  --border: hsl(225 15% 90%);
  --input: hsl(225 15% 90%);
  --ring: hsl(255 65% 54%);

  --radius: 0.75rem;

  --sidebar-background: #ffffff;
  --sidebar-foreground: hsl(225 10% 40%);
  --sidebar-primary: hsl(255 65% 54%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(255 60% 96%);
  --sidebar-accent-foreground: hsl(255 65% 40%);
  --sidebar-border: hsl(225 15% 92%);
  --sidebar-ring: hsl(255 65% 54%);

  --shadow-card:
    0 1px 3px 0 hsl(230 25% 10% / 0.04), 0 1px 2px -1px hsl(230 25% 10% / 0.04);
  --shadow-card-hover: 0 4px 12px 0 hsl(230 25% 10% / 0.08);
  --shadow-elevated: 0 8px 30px 0 hsl(230 25% 10% / 0.12);

  --gradient-primary: linear-gradient(
    135deg,
    hsl(255 65% 54%),
    hsl(270 70% 60%)
  );
  --gradient-hero: linear-gradient(135deg, hsl(255 60% 96%), hsl(225 25% 97%));

  --subject-math: hsl(255 65% 54%);
  --subject-science: hsl(200 80% 50%);
  --subject-english: hsl(340 65% 55%);
  --subject-history: hsl(30 80% 55%);
  --subject-art: hsl(160 60% 45%);
  --subject-pe: hsl(15 80% 55%);
  --subject-music: hsl(280 60% 55%);

  --subject-cs: hsl(210 70% 50%);

  --accent-blue-fg: #2563eb;
  --accent-blue-bg: #dbeafe;

  --accent-violet-bg: #efebfa;
  --accent-violet-fg: #6841d7;

  --accent-green-bg: #eaf7f3;
  --accent-green-fg: #2eb88a;
  --accent-yellow-bg: #fdf5e6;
  --accent-yellow-fg: #f59f0a;

  --accent-yellower-bg: #faebd7;

  --accent-greener-fg: #15803d;
  --accent-greener-bg: #dcfce7;

  --accent-light-blue-bg: #e8f5fc;
  --accent-light-blue-fg: #19a2e6;
  --accent-red-bg: #fbebee;
  --accent-red-fg: #dd405a;

  --color-grey-900: #2b2b2b;
  --color-grey-700: #4a4a4a;
  --color-grey-500: #7a7a7a;
  --color-grey-300: #afafaf;
  --color-grey-200: #e7e5e5;
  --color-grey-100: #eaeaea;
  --color-grey-80: #edeff2;
  --color-grey-50: #f3f4f6;

  --green-btn: #16a34a;
}
