.listview__Container {
  overflow: auto;
  min-height: 120px;
  display: grid;
  width: 100%;
  min-width: 100%;
  grid-template-columns: repeat(5, minmax(150px, 1fr)) 80px;
  grid-template-rows: 50px repeat(auto-fill, 70px);
  background-color: var(--sidebar-background);
  border: 1px solid var(--color-grey-100);
  border-radius: 0.7rem;
  box-shadow: var(--shadow-card);
}
.listHeading__item,
.listItem {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.listHeading__item {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-grey-500);
}
.listItem {
  font-size: 15px;
  border-top: 1px solid var(--color-grey-100);
}
.listItem__actionBtns {
  display: flex;
  gap: 0.6rem;
}
.actionBtn__list {
  padding: 0.2rem;
  border: none;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  color: var(--foreground);
}
.actionBtn__list:hover {
  cursor: pointer;
  color: var(--sidebar-accent-foreground);
}
.actionBtn__delete {
  color: var(--color-grey-500);
}
.actionBtn__delete:hover {
  color: var(--accent-red-fg);
}

.actionBtn__tick:hover {
  color: var(--accent-green-fg);
}
.actionBtn__tick:disabled:hover {
  cursor: not-allowed;
  color: var(--foreground);
}
.typeLabel {
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  color: var(--accent-blue-fg);
  background-color: var(--accent-blue-bg);
  height: fit-content;
  padding: 0.2rem 0.7rem;
  border-radius: 0.7rem;
}
.classTeacher {
  color: var(--accent-green-fg);
  background-color: var(--accent-green-bg);
}
.daysContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.dayItem {
  font-size: 13px;
  color: var(--sidebar-accent-foreground);
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  background-color: var(--sidebar-accent);
}
