.container {
  background-color: var(--secondary-bg);
  border: 0.2px solid var(--color-grey-200);
  border-radius: 0.5rem;
  transition: opacity 0.15s ease;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
  gap: 0.1rem;
  width: max-content;
  z-index: 899;
  box-shadow: var(--shadow-card);
}