.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--foreground);
  line-height: 1;
  margin-bottom: 0.3rem;
}
.hidden {
  display: none;
}
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.day,
.dayActive:focus {
  outline-color: var(--primary);
}
.day,
.dayActive {
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid var(--color-grey-300);
  background: var(--sidebar-background);
  cursor: pointer;
}

.dayActive {
  background-image: var(--gradient-primary);
  color: var(--sidebar-background);
  border-color: var(--primary);
}
