.gridItem__header {
  display: flex;
  justify-content: space-between;
}
.gridItem__info h6 {
  font-size: 17.5px;
  font-weight: 500;
}
.gridItem__info p {
  font-size: 15px;
  color: var(--color-grey-500);
}
.typeLabel {
  border-radius: 999px;
  color: color-mix(in srgb, var(--muted-foreground) 50%, var(--foreground));
  font-size: 11px;
  font-weight: 600;
  padding: 6px 10px;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  border: 1px solid color-mix(in srgb, var(--muted-foreground) 30%, transparent);
}
[data-theme="dark"] .typeLabel{
  background-color: var(--color-grey-100);
  border: none;
}
.classTeacher {
  background-color: var(--accent-violet-bg);
  color: var(--primary);
  border: none;
}
.daysContainer {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.dayItem {
  font-size: 13px;
  color: var(--sidebar-accent-foreground);
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  background-color: var(--sidebar-accent);
}
